.detailContent {
  :global {
    .imageTitle {
      height: 200px;
      position: absolute;
      z-index: 1;
      overflow: hidden;
      img {
        position: relative;
        width: 100%;
        top: -90px;
      }
    }
  }
}
