@import "~themes/vars";

.panel {
  margin-bottom: 8px;
  :global {
    .am-list-item {
      min-height: 60px;
      border-radius: @border-radius-base;
      box-shadow: @shadow;
      .am-list-line {
        .am-list-content {
          font-size: 15px;
        }
        .am-list-extra {
          flex-basis: 20%;
        }
      }
    }
  }
}
