@import "~themes/vars";

.CommentPanel {
  border-bottom: 1px solid @border-color-base;
  :global {
    .am-list-line {
      .am-list-content {
        display: flex;
        padding-top: 16px;
        padding-bottom: 16px;
        .content_left {
          padding-right: 10px;
          img {
            width: 36px;
            height: 36px;
            border-radius: @border-radius-ring;
          }
        }

        .content_right {
          flex: 1;
          .comment_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .comment_header_left {
              position: relative;
              font-size: 15px;
              font-weight: bold;
            }
            .comment_header_right {
              color: @color-text-caption
            }
          }

          .comment_body {
            //padding-left: 40px;
            font-size: @font-size-base;
            .comment_content {
              margin: 8px 0;
              p {
                margin: 0;
                &.reply_text {
                  span {
                    color: @color-text-caption
                  }
                  &.toggled {
                    height: 64px;
                    overflow: hidden;
                    ::after {
                      display: block;
                      height: 100%;
                      width: 100%;
                    }
                  }
                }
              }
            }
            .comment_footer {
              display: flex;
              justify-content: space-between;
              .comment_time {
                color: @color-text-caption
              }
              .comment_toggleBtn {
                padding: 0px 10px;
                background-color: @fill-btn-caption;
                font-size: 13px;
                color: @color-text-caption;
              }
            }
          }
        }
      }
    }
  }
}
