@import "~themes/vars";

.NewsList {
  :global {
    .listBody {
      .am-list-line {
        &:after {
          background-color: transparent !important;
        }
      }
    }
    .am-list-body {
      & > .am-list-item {
        background-color: @fill-body;
        .am-list-line {
          .am-list-content {
            font-size: 12px;
          }
        }
      }
    }
  }
}
