@import "~themes/vars";

.CommentLayout {
  background-color: @fill-base;
  :global {
    .am-navbar-left, .am-navbar-title, .am-navbar-right {
      flex: 0;
      a {
        color: #fff;
      }
    }
    .am-navbar-left {
      padding-right: 8px;
    }
    .am-navbar-right {
      flex: 1;
    }
  }
}
